<a href="https://colab.research.google.com/github/abhishek887229/bank-management-system-project-sql-python/blob/main/Tennis_ID3_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/decision_tree_tenis_data.csv')

In [ ]:
df

In [ ]:
df2=df

In [ ]:
df2

In [ ]:
x=df2.columns

In [ ]:
for i in range(df2.shape[1]):
  y=df2[x[i]].unique()
  print(y)

In [ ]:
df2=df2.drop(['day'],axis=1)

In [ ]:
df2['outlook'].replace(['Sunny','Overcast','Rain'],[0,1,2],inplace=True)
df2['temp'].replace(['Hot','Mild','Cool'],[0,1,2],inplace=True)
df2['humidity'].replace(['High','Normal'],[0,1],inplace=True)
df2['wind'].replace(['Weak','Strong'],[0,1],inplace=True)
df2['play'].replace(['No','Yes'],[0,1],inplace=True)

In [ ]:
df2